.contact {
  padding-bottom: 150px;

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    span {
      font-style: italic;
      color: var(--accent-color);
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }

  &__text {
    margin-right: 105px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 24px;
  }

  &__link {
    padding: 14px 70px;
  }
}
