.projects {
  padding-bottom: 228px;

  @include xxl-tablet {
    padding-bottom: 150px;
  }

  @include small-tablet {
    padding-bottom: 80px;
  }

  &__title {
    margin-bottom: 80px;

    @include tablet {
      margin-bottom: 50px;
    }

    @include small-tablet {
      text-align: center;
    }
  }

  &__list {
    margin-bottom: 50px;
  }

  &__item {
    display: flex;

    @include small-tablet {
      flex-direction: column-reverse;
      align-items: center;
    }

    &:not(:last-child) {
      margin-bottom: 100px;

      @include tablet {
        margin-bottom: 60px;
      }
    }
  }

  &__text {
    width: 44%;
    margin-right: 5.1%;

    @include xl-tablet {
      width: 50%;
      margin-right: 3%;
    }

    @include tablet {
      width: 44%;
    }

    @include small-tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 0;
      width: 100%;
    }

    @include mini-mobile {
      align-items: flex-start;
    }
  }

  &__caption {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    @include gradient;

    @include tablet {
      font-size: 20px;
      line-height: 32px;
    }
  }

  &__technologes {
    display: flex;
    flex-direction: column;
    margin-bottom: 71px;

    @include tablet {
      margin-bottom: 40px;
    }

    &-text {
      position: relative;
      display: inline-block;
      padding-left: 23px;
      font-family: "Raleway", sans-serif;
      line-height: 30px;

      @include tablet {
        font-size: 18px;
        line-height: 24px;
      }

      &:not(:last-child) {
        margin-bottom: 12px;
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        border-radius: 50%;
        margin-left: -23px;
        width: 8px;
        height: 8px;
        background-color: #CDF71F;
        transform: translateY(-50%);
      }
    }
  }

  &__buttons {
    display: flex;
    width: 100%;

    @include tablet {
      flex-direction: column;
    }

    @include small-tablet {
      align-items: center;
    }
  }

  &__btn {
    margin-right: 20px;
    padding: 14px 20px;
    width: 40%;

    @include tablet {
      margin-right: 0;
      margin-bottom: 30px;
      width: 100%;
    }

    @include small-tablet {
      width: 360px;
    }

    @include mini-mobile {
      width: 100%;
    }

    @include mini-mobile {
      padding: 12px 20px;
    }
  }

  &__link {
    padding: 13px 20px;
    width: calc(100% - 40% - 20px);
    font-family: "Muller", sans-serif;

    @include tablet {
      width: 100%;
    }

    @include small-tablet {
      width: 360px;
    }

    @include mini-mobile {
      width: 100%;
    }

    @include mini-mobile {
      padding: 12px 20px;
    }
  }

  &__image {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: calc(100% - 44% - 5.1%);
    cursor: pointer;

    @include xl-tablet {
      align-items: center;
      width: calc(100% - 50% - 3%);
    }

    @include tablet {
      width: calc(100% - 44% - 3%);
    }

    @include small-tablet {
      margin-bottom: 30px;
      width: 425px;
    }

    @include mini-mobile {
      width: 100%;
    }

    .projects__picture-btn {
      position: absolute;
      top: 54%;
      left: 50%;
      opacity: 0;
      padding: 14px 45px;
      background: var(--white-color);
      transform: translate(-50%, -50%);
      transition: opacity 0.3s;

      @include mini-mobile {
        width: 200px;
        padding: 12px 20px;
      }
    }

    &:hover {
      .projects__picture-btn {
        opacity: 1;
        transition: opacity 0.3s;
      }

      .projects__picture::before {
        opacity: 1;
        transition: opacity .4s;
      }

    }
  }

  &__picture {
    display: flex;
    height: 320px;

    @include xl-tablet {
      height: 77%;
    }

    @include md-tablet {
      height: 250px;
    }

    @media (max-width: 836px) {
      height: 230px;
    }

    @include small-tablet {
      height: 250px;
    }

    @include mobile {
      height: auto;
    }

    @include mini-mobile {
      min-height: 170px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      background-color: #DDFF50;
      mix-blend-mode: multiply;
      transition: opacity .4s;
    }

    img {
      border-radius: 20px;
    }
  }


  &__load {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    color: var(--white-color);

    &:hover {
      span {
        opacity: 1;
        transition: opacity .3s;
      }

      svg {
        transform: translateY(10px);
        transition: transform .3s;
      }
    }

    span {
      display: inline-block;
      margin-bottom: 15px;
      opacity: 0.8;
      transition: opacity .3s;
    }

    svg {
      width: 12px;
      height: 21px;
      fill: var(--accent-color);
      transition: transform .3s;
    }
  }
}
