<section class="develop-projects">
  <div class="container">
    <h2 class="develop-projects__title main-title">
      разработанные  проекты
    </h2>
    <ul class="develop-projects__list list-reset">
      <!-- <li class="develop-projects__item">
        <div class="develop-projects__text">
          <h3 class="develop-projects__caption">Сайт для онлайн-магазина светильников</h3>
          <div class="develop-projects__technologes">
            <span class="develop-projects__technologes-text">Верстка на HTML</span>
            <span class="develop-projects__technologes-text">Работа с векторной графикой</span>
            <span class="develop-projects__technologes-text">Сборка проекта на Gulp</span>
            <span class="develop-projects__technologes-text">Работа с Git и GitHub</span>
          </div>
          <div class="develop-projects__buttons">
            <button class="develop-projects__btn main-link btn-reset">
              О проекте
              <svg class="develop-projects__btn-icon">
                <use xlink:href="img/sprite.svg#right-arrow"></use>
              </svg>
            </button>
            <a class="develop-projects__link main-link--transparent" href="#">
              Репозиторий в Git
              <svg class="develop-projects__link-icon">
                <use xlink:href="img/sprite.svg#right-arrow"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="develop-projects__image">
          <picture class="develop-projects__picture">
            <source srcset="img/project-1.avif" type="image/avif">
            <source srcset="img/project-1.webp" type="image/webp">
            <img loading="lazy" src="img/project-1.png" class="image" width="595" height="320" alt="Сайт для онлайн-магазина светильников">
          </picture>
          <button class="develop-projects__picture-btn btn-reset main-link">
            О проекте
            <svg class="develop-projects__btn-icon">
              <use xlink:href="img/sprite.svg#right-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="develop-projects__item">
        <div class="develop-projects__text">
          <h3 class="develop-projects__caption">Сайт для онлайн-магазина светильников</h3>
          <div class="develop-projects__technologes">
            <span class="develop-projects__technologes-text">Верстка на HTML</span>
            <span class="develop-projects__technologes-text">Работа с векторной графикой</span>
            <span class="develop-projects__technologes-text">Сборка проекта на Gulp</span>
            <span class="develop-projects__technologes-text">Работа с Git и GitHub</span>
          </div>
          <div class="develop-projects__buttons">
            <button class="develop-projects__btn main-link btn-reset">
              О проекте
              <svg class="develop-projects__btn-icon">
                <use xlink:href="img/sprite.svg#right-arrow"></use>
              </svg>
            </button>
            <a class="develop-projects__link main-link--transparent" href="#">
              Репозиторий в Git
              <svg class="develop-projects__link-icon">
                <use xlink:href="img/sprite.svg#right-arrow"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="develop-projects__image">
          <picture class="develop-projects__picture">
            <source srcset="img/project-1.avif" type="image/avif">
            <source srcset="img/project-1.webp" type="image/webp">
            <img loading="lazy" src="img/project-1.png" class="image" width="595" height="320" alt="Сайт для онлайн-магазина светильников">
          </picture>
          <button class="develop-projects__picture-btn btn-reset main-link">
            О проекте
            <svg class="develop-projects__btn-icon">
              <use xlink:href="img/sprite.svg#right-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="develop-projects__item">
        <div class="develop-projects__text">
          <h3 class="develop-projects__caption">Сайт для онлайн-магазина светильников</h3>
          <div class="develop-projects__technologes">
            <span class="develop-projects__technologes-text">Верстка на HTML</span>
            <span class="develop-projects__technologes-text">Работа с векторной графикой</span>
            <span class="develop-projects__technologes-text">Сборка проекта на Gulp</span>
            <span class="develop-projects__technologes-text">Работа с Git и GitHub</span>
          </div>
          <div class="develop-projects__buttons">
            <button class="develop-projects__btn main-link btn-reset">
              О проекте
              <svg class="develop-projects__btn-icon">
                <use xlink:href="img/sprite.svg#right-arrow"></use>
              </svg>
            </button>
            <a class="develop-projects__link main-link--transparent" href="#">
              Репозиторий в Git
              <svg class="develop-projects__link-icon">
                <use xlink:href="img/sprite.svg#right-arrow"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="develop-projects__image">
          <picture class="develop-projects__picture">
            <source srcset="img/project-1.avif" type="image/avif">
            <source srcset="img/project-1.webp" type="image/webp">
            <img loading="lazy" src="img/project-1.png" class="image" width="595" height="320" alt="Сайт для онлайн-магазина светильников">
          </picture>
          <button class="develop-projects__picture-btn btn-reset main-link">
            О проекте
            <svg class="develop-projects__btn-icon">
              <use xlink:href="img/sprite.svg#right-arrow"></use>
            </svg>
          </button>
        </div>
      </li> -->
    </ul>
    <div class="element-center">
      <button class="projects__btn btn-reset">
        <span>Загрузить еще</span>
        <svg>
          <use xlink:href="img/sprite.svg#down-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
