<footer class="footer" id="footer">
  <div class="container footer__container">
    <h2 class="footer__title main-title">Контакты</h2>
    <ul class="footer__list list-reset">
      <li class="footer__item social">
        <span class="social__name">Телеграмм</span>
        <span class="social__name">Вконтакте</span>
      </li>
      <li class="footer__item info">
        <a class="footer__info" href="tel:+79999999999">+79999999999</a>
        <a class="footer__info" href="https://vk.com/denisverz" target="_blank">https://vk.com/denisverz</a>
      </li>
    </ul>
  </div>
</footer>
