<header class="header">
  <div class="container header__container">
    <a class="header__logo" href="#">Портфолио</a>
    <nav class="nav" title="Главное меню">
      <ul class="nav__list list-reset">
        <li class="nav__item"><a class="nav__link" href="#hero">Обо мне</a></li>
        <li class="nav__item"><a class="nav__link" href="#projects">Проекты</a></li>
        <li class="nav__item"><a class="nav__link" href="#footer">Контакты</a></li>
      </ul>
    </nav>
    <a class="header__link" href="#footer">Напишите мне</a>
  </div>
</header>
