<section class="hero">
  <div class="container hero__container">
    <div class="hero__text">
      <span class="hero__name">Денис Верзаков</span>
      <h2 class="hero__title main-title">HTML-верстальщик</h2>
      <p class="hero__descr">Знаю, как создать <span>работающий</span> код для <span>продающего</span> сайта</p>
      <a class="hero__link" href="#">Связаться со мной</a>
    </div>
    <div class="hero__image">
      <picture class="hero__picture">
        <source srcset="img/hero.avif" type="image/avif">
        <source srcset="img/hero.webp" type="image/webp">
        <img loading="lazy" src="img/hero.png" class="hero__pic" width="525" height="539" alt="Денис Верзаков">
      </picture>
    </div>
  </div>
</section>
