<section class="hero" id="hero">
  <div class="container hero__container">
    <h1 class="visually-hidden">Портфолио Дениса Верзакова</h1>
    <div class="hero__text">
      <span class="hero__name">Денис Верзаков</span>
      <h2 class="hero__title main-title">HTML-верстальщик</h2>
      <p class="hero__descr">
        Приветствую! Меня зовут Денис, мне 21 год и это тот самый случай, когда любопытство превращается в любимую работу.
      </p>
      <div class="hero__technologies">
        <strong>Мои навыки:</strong>
        <ul class="hero__list list-reset">
          <li class="hero__item">HTML</li>
          <li class="hero__item">CSS</li>
          <li class="hero__item">JS (ES6+)</li>
          <li class="hero__item">React</li>
          <li class="hero__item">SCSS</li>
          <li class="hero__item">БЭМ</li>
          <li class="hero__item">Tailwind CSS</li>
          <li class="hero__item">Git</li>
          <li class="hero__item">GitHub</li>
          <li class="hero__item">Gulp</li>
          <li class="hero__item">Grid</li>
          <li class="hero__item">FlexBox</li>
          <li class="hero__item">Figma</li>
          <li class="hero__item">PhotoShop</li>
          <li class="hero__item">Адаптивная вёрстка</li>
          <li class="hero__item">Верстаю PixelPerfect</li>
          <li class="hero__item">Кроссбраузерная вёрстка</li>
        </ul>
      </div>
    </div>
    <div class="hero__image">
      <picture class="hero__picture">
        <source srcset="img/hero-im.avif" type="image/avif">
        <source srcset="img/hero-im.webp" type="image/webp">
        <img loading="lazy" src="img/hero-im.png" class="hero__pic" width="565" height="537" alt="Денис Верзаков">
      </picture>
    </div>
  </div>
</section>
