<div class="modal graph-modal">
  <div class="modal__container graph-modal__container" role="dialog" aria-modal="true" data-graph-target="project-1">
    <div class="modal__top">
      <h3 class="modal__title">Интернет-магазин светильников</h3>
      <button class="modal__close btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно">
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="20" cy="20" r="19.5" stroke="black"/>
          <line x1="28.6776" y1="12.4142" x2="12.4142" y2="28.6777" stroke="black" stroke-width="2" stroke-linecap="round"/>
          <line x1="27.9706" y1="28.6777" x2="11.7071" y2="12.4143" stroke="black" stroke-width="2" stroke-linecap="round"/>
        </svg>
      </button>
    </div>
    <div class="modal__content graph-modal__content">
      <ul class="modal__list list-reset">
        <li class="modal__item">
          <strong class="modal__caption">Разработано:</strong>
          <span>- 9 страниц сайта</span>
          <span>- переход по страницам через поисковую строку по запросам: <strong>index.html, catalog.html, card-product.html, cart.html, favorites.html, order.html, order-confirm.html, contacts.html, 404.html</strong></span>
          <span>- добавление товара в корзину <a href="https://youtu.be/wLVIbKeUIcQ" target="_blank">Видео: как работает корзина</a></span>
          <span>- кнопка "загрузить еще", которая берет данные из файлы products.json </span>
          <span>- модальные окна </span>
          <span>- работа с Яндекс.картой </span>
        </li>
        <li class="modal__item">
          <strong class="modal__caption">Библиотеки проекта:</strong>
          <span>Swiper, aos, rangeSlider</span>
        </li>
      </ul>
      <a class="modal__btn main-link" href="https://magical01.github.io/splendor-store/" target="_blank">
        Посмотреть сайт
        <svg>
          <use xlink:href="img/sprite.svg#right-arrow"></use>
        </svg>
      </a>
    </div>
  </div>

  <div class="modal__container graph-modal__container" role="dialog" aria-modal="true" data-graph-target="project-2">
    <div class="modal__top">
      <h3 class="modal__title">Интернет-магазин замков</h3>
      <button class="modal__close btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно">
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="20" cy="20" r="19.5" stroke="black"/>
          <line x1="28.6776" y1="12.4142" x2="12.4142" y2="28.6777" stroke="black" stroke-width="2" stroke-linecap="round"/>
          <line x1="27.9706" y1="28.6777" x2="11.7071" y2="12.4143" stroke="black" stroke-width="2" stroke-linecap="round"/>
        </svg>
      </button>
    </div>
    <div class="modal__content graph-modal__content">
      <ul class="modal__list list-reset">
        <li class="modal__item">
          <strong class="modal__caption">Разработано:</strong>
          <span>- 8 страниц сайта</span>
          <span>- переход по страницам через поисковую строку по запросам: <strong>index.html, catalog.html, product.html, categories.html, order.html, wholesale.html, about.html, delivery.html</strong> </span>
          <span>- добавление товара в корзину <a href="https://youtu.be/povjkrYfAcU" target="_blank">Видео: как работает корзина</a></span>
          <span>- табы, модальные окна, а также валидация форм </span>
          <span>- кнопка "показать еще", которая берет данные из файлы comments.json </span>
        </li>
        <li class="modal__item">
          <strong class="modal__caption">Библиотеки проекта:</strong>
          <span>Swiper, aos, simplebar, rangeSlider</span>
        </li>
      </ul>
      <a class="modal__btn main-link" href="https://magical01.github.io/lock-online-store/" target="_blank">
        Посмотреть сайт
        <svg>
          <use xlink:href="img/sprite.svg#right-arrow"></use>
        </svg>
      </a>
    </div>
  </div>

  <div class="modal__container graph-modal__container" role="dialog" aria-modal="true" data-graph-target="project-3">
    <div class="modal__top">
      <h3 class="modal__title">Сервис для поиска фильмов (React)</h3>
      <button class="modal__close btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно">
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="20" cy="20" r="19.5" stroke="black"/>
          <line x1="28.6776" y1="12.4142" x2="12.4142" y2="28.6777" stroke="black" stroke-width="2" stroke-linecap="round"/>
          <line x1="27.9706" y1="28.6777" x2="11.7071" y2="12.4143" stroke="black" stroke-width="2" stroke-linecap="round"/>
        </svg>
      </button>
    </div>
    <div class="modal__content graph-modal__content">
      <ul class="modal__list list-reset">
        <li class="modal__item">
          <strong class="modal__caption">Разработано:</strong>
          <span>- 1 страница сервиса</span>
          <span>- данный сервис ищет по названию фильма (только на английском) и выдает существующие фильмы</span>
          <span>- поиск и фильтрация фильмов</span>
          <span>- при помощи OMDb API получал данные о фильмах и выводил их на страницу</span>
          <span>- для стилизации использовал библиотеку Tailwind CSS</span>
        </li>
      </ul>
      <a class="modal__btn main-link" href="https://magical01.github.io/react-movies-app/" target="_blank">
        Посмотреть сайт
        <svg>
          <use xlink:href="img/sprite.svg#right-arrow"></use>
        </svg>
      </a>
    </div>
  </div>

  <div class="modal__container graph-modal__container" role="dialog" aria-modal="true" data-graph-target="project-4">
    <div class="modal__top">
      <h3 class="modal__title">Сайт для курса по фитнесу</h3>
      <button class="modal__close btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно">
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="20" cy="20" r="19.5" stroke="black"/>
          <line x1="28.6776" y1="12.4142" x2="12.4142" y2="28.6777" stroke="black" stroke-width="2" stroke-linecap="round"/>
          <line x1="27.9706" y1="28.6777" x2="11.7071" y2="12.4143" stroke="black" stroke-width="2" stroke-linecap="round"/>
        </svg>
      </button>
    </div>
    <div class="modal__content graph-modal__content">
      <ul class="modal__list list-reset">
        <li class="modal__item">
          <strong class="modal__caption">Разработано:</strong>
          <span>- 1 страница сайта</span>
          <span>- аккордион и JS-анимации</span>
          <span>- валидация формы</span>
        </li>
        <li class="modal__item">
          <strong class="modal__caption">Библиотеки проекта:</strong>
          <span>Swiper, aos</span>
        </li>
      </ul>
      <a class="modal__btn main-link" href="https://magical01.github.io/fitness-page/" target="_blank">
        Посмотреть сайт
        <svg>
          <use xlink:href="img/sprite.svg#right-arrow"></use>
        </svg>
      </a>
    </div>
  </div>

  <div class="modal__container graph-modal__container" role="dialog" aria-modal="true" data-graph-target="project-5">
    <div class="modal__top">
      <h3 class="modal__title">Сайт для путешествий</h3>
      <button class="modal__close btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно">
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="20" cy="20" r="19.5" stroke="black"/>
          <line x1="28.6776" y1="12.4142" x2="12.4142" y2="28.6777" stroke="black" stroke-width="2" stroke-linecap="round"/>
          <line x1="27.9706" y1="28.6777" x2="11.7071" y2="12.4143" stroke="black" stroke-width="2" stroke-linecap="round"/>
        </svg>
      </button>
    </div>
    <div class="modal__content graph-modal__content">
      <ul class="modal__list list-reset">
        <li class="modal__item">
          <strong class="modal__caption">Разработано:</strong>
          <span>- 1 страница сайта</span>
        </li>
        <li class="modal__item">
          <strong class="modal__caption">Библиотеки проекта:</strong>
          <span>Swiper, aos</span>
        </li>
      </ul>
      <a class="modal__btn main-link" href="https://magical01.github.io/Travel/" target="_blank">
        Посмотреть сайт
        <svg>
          <use xlink:href="img/sprite.svg#right-arrow"></use>
        </svg>
      </a>
    </div>
  </div>

</div>
