<section class="projects" id="projects">
  <div class="container">
    <h2 class="projects__title main-title">Разработанные проекты</h2>
    <ul class="projects__list list-reset">
      <li class="projects__item fixtures">
        <div class="projects__text">
          <h3 class="projects__caption">Сайт для онлайн-магазина светильников</h3>
          <h4 class="projects__subject">Используемые технологии:</h4>
          <button class="fixtures-btn-next projects-btn-next btn-reset" aria-label="Следующий список технологий">
            <svg width="46" height="156" viewBox="0 0 46 156" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line y1="-1" x2="90.05" y2="-1" transform="matrix(-0.499723 0.866186 -0.227504 -0.973777 45 0)"
                stroke="white" stroke-width="2" />
              <line y1="-1" x2="90.05" y2="-1" transform="matrix(-0.499723 -0.866186 -0.227504 0.973777 45 156)"
                stroke="white" stroke-width="2" />
            </svg>
          </button>
          <button class="fixtures-btn-prev projects-btn-prev btn-reset" aria-label="Предыдущий список технологий">
            <svg width="46" height="156" viewBox="0 0 46 156" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line y1="-1" x2="90.05" y2="-1" transform="matrix(0.499723 0.866186 0.227504 -0.973777 1 0)"
                stroke="white" stroke-width="2" />
              <line y1="-1" x2="90.05" y2="-1" transform="matrix(0.499723 -0.866186 0.227504 0.973777 1 156)"
                stroke="white" stroke-width="2" />
            </svg>
          </button>
          <div class="swiper technologies fixtures-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide fixtures-slide">
                <div class="projects__descr technologies__inner">
                  <span class="technologies__name">Верстка на HTML</span>
                  <span class="technologies__name">Работа с векторной графикой</span>
                  <span class="technologies__name">Сборка проекта на Gulp</span>
                  <span class="technologies__name">Работа с Git и GitHub</span>
                </div>
              </div>
              <div class="swiper-slide technologies-slide">
                <div class="projects__descr technologies__inner">
                  <span class="technologies__name">Версткаddd на HTML</span>
                  <span class="technologies__name">Работа ddс векторной графикой</span>
                  <span class="technologies__name">Сборка проекта на Gulp</span>
                  <span class="technologies__name">Работа с Git и GitHub</span>
                </div>
              </div>
            </div>
          </div>
          <div class="fixtures-pagination projects__pagination"></div>
          <a class="projects__link main-link" href="https://magical01.github.io/fitness-page/" target="_blank">Смотреть
            сайт
          </a>
        </div>
        <div class="projects__image">
          <picture class="projects__picture">
            <source srcset="img/project-11.avif" type="image/avif">
            <source srcset="img/project-11.webp" type="image/webp">
            <img loading="lazy" src="img/project-11.png" class="projects__pic" width="595" height="320"
              alt="Сайт интернет-магазин светильников">
          </picture>
          <a class="site-link" href="https://magical01.github.io/fitness-page/" target="_blank" aria-label="Перейти на сайт интернет-магазин светильников"></a>
        </div>
      </li>
      <li class="projects__item fitness">
        <div class="projects__text">
          <h3 class="projects__caption">Сайт для курса по фитнесу</h3>
          <h4 class="projects__subject">Используемые технологии:</h4>
          <button class="fitness-btn-next projects-btn-next btn-reset" aria-label="Следующий список технологий">
            <svg width="46" height="156" viewBox="0 0 46 156" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line y1="-1" x2="90.05" y2="-1" transform="matrix(-0.499723 0.866186 -0.227504 -0.973777 45 0)"
                stroke="white" stroke-width="2" />
              <line y1="-1" x2="90.05" y2="-1" transform="matrix(-0.499723 -0.866186 -0.227504 0.973777 45 156)"
                stroke="white" stroke-width="2" />
            </svg>
          </button>
          <button class="fitness-btn-prev projects-btn-prev btn-reset" aria-label="Предыдущий список технологий">
            <svg width="46" height="156" viewBox="0 0 46 156" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line y1="-1" x2="90.05" y2="-1" transform="matrix(0.499723 0.866186 0.227504 -0.973777 1 0)"
                stroke="white" stroke-width="2" />
              <line y1="-1" x2="90.05" y2="-1" transform="matrix(0.499723 -0.866186 0.227504 0.973777 1 156)"
                stroke="white" stroke-width="2" />
            </svg>
          </button>
          <div class="swiper technologies fitness-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide technologies-slide">
                <div class="projects__descr technologies__inner">
                  <span class="technologies__name">Верстка на HTML</span>
                  <span class="technologies__name">Работа с векторной графикой</span>
                  <span class="technologies__name">Сборка проекта на Gulp</span>
                  <span class="technologies__name">Работа с Git и GitHub</span>
                </div>
              </div>
              <div class="swiper-slide technologies-slide">
                <div class="projects__descr technologies__inner">
                  <span class="technologies__name">Версткаddd на HTML</span>
                  <span class="technologies__name">Работа ddс векторной графикой</span>
                  <span class="technologies__name">Сборка проекта на Gulp</span>
                  <span class="technologies__name">Работа с Git и GitHub</span>
                </div>
              </div>
            </div>
          </div>
          <div class="fitness-pagination projects__pagination"></div>
          <a class="projects__link main-link" href="https://magical01.github.io/fitness-page/" target="_blank">Смотреть
            сайт
          </a>
        </div>
        <div class="projects__image">
          <picture class="projects__picture">
            <source srcset="img/project-2.avif" type="image/avif">
            <source srcset="img/project-2.webp" type="image/webp">
            <img loading="lazy" src="img/project-2.png" class="projects__pic" width="595" height="372"
              alt="Сайт интернет-магазин светильников">
          </picture>
          <a class="site-link" href="https://magical01.github.io/fitness-page/" target="_blank" aria-label="Перейти на сайт интернет-магазин светильников"></a>
        </div>
      </li>
      <li class="projects__item travel">
        <div class="projects__text">
          <h3 class="projects__caption">Сайт для путешествий</h3>
          <h4 class="projects__subject">Используемые технологии:</h4>
          <button class="travel-btn-next projects-btn-next btn-reset" aria-label="Следующий список технологий">
            <svg width="46" height="156" viewBox="0 0 46 156" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line y1="-1" x2="90.05" y2="-1" transform="matrix(-0.499723 0.866186 -0.227504 -0.973777 45 0)"
                stroke="white" stroke-width="2" />
              <line y1="-1" x2="90.05" y2="-1" transform="matrix(-0.499723 -0.866186 -0.227504 0.973777 45 156)"
                stroke="white" stroke-width="2" />
            </svg>
          </button>
          <button class="travel-btn-prev projects-btn-prev btn-reset" aria-label="Предыдущий список технологий">
            <svg width="46" height="156" viewBox="0 0 46 156" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line y1="-1" x2="90.05" y2="-1" transform="matrix(0.499723 0.866186 0.227504 -0.973777 1 0)"
                stroke="white" stroke-width="2" />
              <line y1="-1" x2="90.05" y2="-1" transform="matrix(0.499723 -0.866186 0.227504 0.973777 1 156)"
                stroke="white" stroke-width="2" />
            </svg>
          </button>
          <div class="swiper technologies travel-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide technologies-slide">
                <div class="projects__descr technologies__inner">
                  <span class="technologies__name">Верстка на HTML</span>
                  <span class="technologies__name">Работа с векторной графикой</span>
                  <span class="technologies__name">Сборка проекта на Gulp</span>
                  <span class="technologies__name">Работа с Git и GitHub</span>
                </div>
              </div>
              <div class="swiper-slide technologies-slide">
                <div class="projects__descr technologies__inner">
                  <span class="technologies__name">Версткаddd на HTML</span>
                  <span class="technologies__name">Работа ddс векторной графикой</span>
                  <span class="technologies__name">Сборка проекта на Gulp</span>
                  <span class="technologies__name">Работа с Git и GitHub</span>
                </div>
              </div>
            </div>
          </div>
          <div class="travel-pagination projects__pagination"></div>
          <a class="projects__link main-link" href="https://magical01.github.io/Travel/" target="_blank">Смотреть
            сайт
          </a>
        </div>
        <div class="projects__image">
          <picture class="projects__picture">
            <source srcset="img/project-3.avif" type="image/avif">
            <source srcset="img/project-3.webp" type="image/webp">
            <img loading="lazy" src="img/project-3.png" class="projects__pic" width="595" height="372"
              alt="Сайт интернет-магазин светильников">
          </picture>
          <a class="site-link" href="https://magical01.github.io/Travel/" target="_blank" aria-label="Перейти на сайт интернет-магазин светильников"></a>
        </div>
      </li>
    </ul>
  </div>
</section>
