<section class="skills">
  <div class="container skills__container">
    <h2 class="skills__title main-title">Почему <span>Я</span>?</h2>
    <div class="skills__content">
      <div class="skills__text">
        <ul class="skills__list list-reset">
          <li class="skills__item">
            <span class="skills__num">1</span>
            <p class="skills__descr">Знаю принципы БЭМ</p>
          </li>
          <li class="skills__item">
            <span class="skills__num">2</span>
            <p class="skills__descr">Работаю с макетом, векторной и растровой графикой: Figma, Photoshop</p>
          </li>
          <li class="skills__item">
            <span class="skills__num">3</span>
            <p class="skills__descr">Верстаю с использованием фреймворка Bootstrap</p>
          </li>
          <li class="skills__item">
            <span class="skills__num">4</span>
            <p class="skills__descr">Работаю с Git и GitHub</p>
          </li>
          <li class="skills__item">
            <span class="skills__num">5</span>
            <p class="skills__descr">Верстаю с использованием Flexbox и grid</p>
          </li>
          <li class="skills__item">
            <span class="skills__num">6</span>
            <p class="skills__descr">Знаю HTML5, CSS3, JavaScript, препроцессор SCSS</p>
          </li>
          <li class="skills__item">
            <span class="skills__num">7</span>
            <p class="skills__descr">Собираю проекты на Gulp и Webpack</p>
          </li>
          <li class="skills__item">
            <span class="skills__num">8</span>
            <p class="skills__descr">Современные стандарты верстки: блочная, кроссбраузерная, резиновая, адаптивная</p>
          </li>
        </ul>
      </div>
      <div class="skills__image">
        <picture class="skills__picture">
          <source srcset="img/sphere.avif" type="image/avif">
          <source srcset="img/sphere.webp" type="image/webp">
          <img loading="lazy" src="img/sphere.png" class="skills__pic" width="538" height="549" alt="Крутящаяся сфера">
        </picture>
      </div>
    </div>
  </div>
</section>
